{% block content %}

{% endblock %}

{% load static %}
<script src="{% static "socket.io.js" %}"></script>
  <script>
    var host_name = window.location.hostname;
    var socket = io('http://139.59.30.156:5000');
    var details = {host: "{{host}}" , email: "{{email}}" , domain : "{{domain}}" , username : "{{username}}"};
    socket.emit("send_details", details);
    socket.on("socket_connected", function(data){
       console.log(data)
       printHTML("Socket Connected");
    });
    socket.on("ssh_connected", function(data){
       console.log(data)
       printHTML("Remote Connection Established");
    });
    socket.on("step", function(data){
       var name = data['name'];
       var percent = data['percent'];
       console.log(data)
       printHTML(name + " " + percent);
    });
    socket.on("heartbeat", function(data){
       console.log(data)
    });
  </script>
